node_modules/
*.aux
.merlin
*.glob
*.v.d
*.vo
*.vok
*.vos
all.pdf
html/
lib/bs/
/src/App.ml*
/src/Counter.ml*
/src/LimitedCounter.ml*
*.bs.js
\#*\#
.bsb.lock

Makefile.coq
Makefile.coq.conf
.Makefile.coq.d
.coqdeps.d

*~
